<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neu.lab.dependency.mapper.ProjectDepMapper">
    <resultMap id="projectDepResultMap" type="neu.lab.dependency.pojo.DepDetail">
        <id property="id" column="id"/>
        <result property="groupId" column="groupId" jdbcType="VARCHAR" javaType="String"/>
        <result property="artifactId" column="artifactId" jdbcType="VARCHAR" javaType="String"/>
        <result property="version" column="version" jdbcType="VARCHAR" javaType="String"/>
        <result property="usedDepNum" column="usedDepNum" jdbcType="INTEGER" javaType="int"/>
        <result property="depNum" column="depNum" jdbcType="INTEGER" javaType="int"/>
        <result property="path" column="path" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <insert id="insertProject" parameterType="DepDetail">
        insert into depDetail(groupId, artifactId, version, usedDepNum, depNum, path) values(#{groupId}, #{artifactId}, #{version}, #{usedDepNum}, #{depNum}, #{path})
    </insert>

    <select id="selectProject" parameterType="String" resultType="DepDetail">
        select * from depDetail where groupId = #{arg0} and artifactId = #{arg1} and version = #{arg2}
    </select>
</mapper>